<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
</head>
<body>
  <h1>COUNTER</h1>
  <hr class="mb-4">
  <p>You have visited the site: {{ session['add_num'] }}</p>
  <div class="buttons">
    <!-- this is to add one to the visits -->
    <a href="/" class="btn btn-primary">Click</a>
    <form action="/reset" method="post">
      <input type="submit" value="Reset" class="btn btn-primary" name="reset">
    </form>
    <form action="/plustwo" method="post">
      <input type="submit" value="Add Two" class="btn btn-primary" name="add_two">
    </form>
  </div>
</body>
</html>